openapi: 3.0.3
info:
  contact:
    email: hyperswitch@juspay.in
    name: Hyperswitch Support
    url: https://hyperswitch.io
  description: |2

    ## Get started

    Hyperswitch provides a collection of APIs that enable you to process and manage payments.
    Our APIs accept and return JSON in the HTTP body, and return standard HTTP response codes.

    You can consume the APIs directly using your favorite HTTP/REST library.

    We have a testing environment referred to "sandbox", which you can setup to test API calls without
    affecting production data.
    Currently, our sandbox environment is live while our production environment is under development
    and will be available soon.
    You can sign up on our Dashboard to get API keys to access Hyperswitch API.

    ### Environment

    Use the following base URLs when making requests to the APIs:

    | Environment   |  Base URL                          |
    |---------------|------------------------------------|
    | Sandbox       | <https://sandbox.hyperswitch.io>   |
    | Production    | <https://api.hyperswitch.io>       |

    ## Authentication

    When you sign up on our [dashboard](https://app.hyperswitch.io) and create a merchant
    account, you are given a secret key (also referred as api-key) and a publishable key.
    You may authenticate all API requests with Hyperswitch server by providing the appropriate key in
    the request Authorization header.

    | Key             |  Description                                                                                  |
    |-----------------|-----------------------------------------------------------------------------------------------|
    | api-key         | Private key. Used to authenticate all API requests from your merchant server                  |
    | publishable key | Unique identifier for your account. Used to authenticate API requests from your app's client  |

    Never share your secret api keys. Keep them guarded and secure.
  license:
    name: Apache-2.0
  title: Hyperswitch - API Documentation
  version: 0.2.0
servers:
- description: Sandbox Environment
  url: https://sandbox.hyperswitch.io
tags:
- description: Create and manage merchant accounts
  name: Merchant Account
- description: Create and manage merchant connector accounts
  name: Merchant Connector Account
- description: "Create and manage one-time payments, recurring payments and mandates"
  name: Payments
- description: Create and manage refunds for successful payments
  name: Refunds
- description: Manage mandates
  name: Mandates
- description: Create and manage customers
  name: Customers
- description: Create and manage payment methods of customers
  name: Payment Methods
- description: Manage disputes
  name: Disputes
- description: Create and manage payouts
  name: Payouts
- description: Create payment link
  name: payment link
paths:
  /account/payment_methods:
    get:
      description: |-
        List payment methods for a Merchant

        To filter and list the applicable payment methods for a particular Merchant ID
      operationId: List all Payment Methods for a Merchant
      parameters:
      - description: The unique identifier for the merchant account
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - description: The two-letter ISO currency code
        explode: true
        in: query
        name: accepted_country
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The three-letter ISO currency code
        explode: false
        in: path
        name: accepted_currency
        required: true
        schema:
          items:
            $ref: '#/components/schemas/Currency'
          type: array
        style: simple
      - description: The minimum amount accepted for processing by the particular
          payment method.
        explode: true
        in: query
        name: minimum_amount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The maximum amount amount accepted for processing by the particular
          payment method.
        explode: true
        in: query
        name: maximum_amount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Indicates whether the payment method is eligible for recurring
          payments
        explode: true
        in: query
        name: recurring_payment_enabled
        required: true
        schema:
          type: boolean
        style: form
      - description: Indicates whether the payment method is eligible for installment
          payments
        explode: true
        in: query
        name: installment_payment_enabled
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodListResponse'
          description: Payment Methods retrieved
        "400":
          description: Invalid Data
        "404":
          description: Payment Methods does not exist in records
      security:
      - api_key: []
      - publishable_key: []
      summary: List payment methods for a Merchant
      tags:
      - Payment Methods
      x-accepts: application/json
  /accounts/{account_id}/connectors:
    get:
      description: |-
        Merchant Connector - List

        List Merchant Connector Details for the merchant
      operationId: List all Merchant Connectors
      parameters:
      - description: The unique identifier for the merchant account
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MerchantConnectorResponse'
                type: array
          description: Merchant Connector list retrieved successfully
        "401":
          description: Unauthorized request
        "404":
          description: Merchant Connector does not exist in records
      security:
      - admin_api_key: []
      summary: Merchant Connector - List
      tags:
      - Merchant Connector Account
      x-accepts: application/json
    post:
      description: |-
        Merchant Connector - Create

        Create a new Merchant Connector for the merchant account. The connector could be a payment processor / facilitator / acquirer or specialized services like Fraud / Accounting etc."
      operationId: Create a Merchant Connector
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantConnectorCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantConnectorResponse'
          description: Merchant Connector Created
        "400":
          description: Missing Mandatory fields
      security:
      - admin_api_key: []
      summary: Merchant Connector - Create
      tags:
      - Merchant Connector Account
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{account_id}/connectors/{connector_id}:
    delete:
      description: |-
        Merchant Connector - Delete

        Delete or Detach a Merchant Connector from Merchant Account
      operationId: Delete a Merchant Connector
      parameters:
      - description: The unique identifier for the merchant account
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the Merchant Connector
        explode: false
        in: path
        name: connector_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantConnectorDeleteResponse'
          description: Merchant Connector Deleted
        "401":
          description: Unauthorized request
        "404":
          description: Merchant Connector does not exist in records
      security:
      - admin_api_key: []
      summary: Merchant Connector - Delete
      tags:
      - Merchant Connector Account
      x-accepts: application/json
    get:
      description: |-
        Merchant Connector - Retrieve

        Retrieve Merchant Connector Details
      operationId: Retrieve a Merchant Connector
      parameters:
      - description: The unique identifier for the merchant account
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the Merchant Connector
        explode: false
        in: path
        name: connector_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantConnectorResponse'
          description: Merchant Connector retrieved successfully
        "401":
          description: Unauthorized request
        "404":
          description: Merchant Connector does not exist in records
      security:
      - admin_api_key: []
      summary: Merchant Connector - Retrieve
      tags:
      - Merchant Connector Account
      x-accepts: application/json
    post:
      description: |-
        Merchant Connector - Update

        To update an existing Merchant Connector. Helpful in enabling / disabling different payment methods and other settings for the connector etc.
      operationId: Update a Merchant Connector
      parameters:
      - description: The unique identifier for the merchant account
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - description: The unique identifier for the Merchant Connector
        explode: false
        in: path
        name: connector_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantConnectorUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantConnectorResponse'
          description: Merchant Connector Updated
        "401":
          description: Unauthorized request
        "404":
          description: Merchant Connector does not exist in records
      security:
      - admin_api_key: []
      summary: Merchant Connector - Update
      tags:
      - Merchant Connector Account
      x-content-type: application/json
      x-accepts: application/json
  /blocklist:
    delete:
      operationId: Unblock a Fingerprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlocklistRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocklistResponse'
          description: Fingerprint Unblocked
        "400":
          description: Invalid Data
      security:
      - api_key: []
      tags:
      - Blocklist
      x-content-type: application/json
      x-accepts: application/json
    get:
      operationId: List Blocked fingerprints of a particular kind
      parameters:
      - description: Kind of the fingerprint list requested
        explode: true
        in: query
        name: data_kind
        required: true
        schema:
          $ref: '#/components/schemas/BlocklistDataKind'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocklistResponse'
          description: Blocked Fingerprints
        "400":
          description: Invalid Data
      security:
      - api_key: []
      tags:
      - Blocklist
      x-accepts: application/json
    post:
      operationId: Block a Fingerprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlocklistRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlocklistResponse'
          description: Fingerprint Blocked
        "400":
          description: Invalid Data
      security:
      - api_key: []
      tags:
      - Blocklist
      x-content-type: application/json
      x-accepts: application/json
  /customers:
    post:
      description: |-
        Create Customer

        Create a customer object and store the customer details to be reused for future payments. Incase the customer already exists in the system, this API will respond with the customer details.
      operationId: Create a Customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: Customer Created
        "400":
          description: Invalid data
      security:
      - api_key: []
      summary: Create Customer
      tags:
      - Customers
      x-content-type: application/json
      x-accepts: application/json
  /customers/list:
    post:
      description: |-
        List customers for a merchant

        To filter and list the customers for a particular merchant id
      operationId: List all Customers for a Merchant
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CustomerResponse'
                type: array
          description: Customers retrieved
        "400":
          description: Invalid Data
      security:
      - api_key: []
      summary: List customers for a merchant
      tags:
      - Customers List
      x-accepts: application/json
  /customers/payment_methods:
    get:
      description: |-
        List payment methods for a Customer

        To filter and list the applicable payment methods for a particular Customer ID
      operationId: List all Payment Methods for a Customer
      parameters:
      - description: A secret known only to your application and the authorization
          server
        explode: false
        in: path
        name: client-secret
        required: true
        schema:
          type: string
        style: simple
      - description: The two-letter ISO currency code
        explode: true
        in: query
        name: accepted_country
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The three-letter ISO currency code
        explode: false
        in: path
        name: accepted_currency
        required: true
        schema:
          items:
            $ref: '#/components/schemas/Currency'
          type: array
        style: simple
      - description: The minimum amount accepted for processing by the particular
          payment method.
        explode: true
        in: query
        name: minimum_amount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The maximum amount amount accepted for processing by the particular
          payment method.
        explode: true
        in: query
        name: maximum_amount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Indicates whether the payment method is eligible for recurring
          payments
        explode: true
        in: query
        name: recurring_payment_enabled
        required: true
        schema:
          type: boolean
        style: form
      - description: Indicates whether the payment method is eligible for installment
          payments
        explode: true
        in: query
        name: installment_payment_enabled
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentMethodsListResponse'
          description: Payment Methods retrieved for customer tied to its respective
            client-secret passed in the param
        "400":
          description: Invalid Data
        "404":
          description: Payment Methods does not exist in records
      security:
      - publishable_key: []
      summary: List payment methods for a Customer
      tags:
      - Payment Methods
      x-accepts: application/json
  /customers/{customer_id}:
    delete:
      description: |-
        Delete Customer

        Delete a customer record.
      operationId: Delete a Customer
      parameters:
      - description: The unique identifier for the Customer
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDeleteResponse'
          description: Customer was Deleted
        "404":
          description: Customer was not found
      security:
      - api_key: []
      summary: Delete Customer
      tags:
      - Customers
      x-accepts: application/json
    get:
      description: |-
        Retrieve Customer

        Retrieve a customer's details.
      operationId: Retrieve a Customer
      parameters:
      - description: The unique identifier for the Customer
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: Customer Retrieved
        "404":
          description: Customer was not found
      security:
      - api_key: []
      - ephemeral_key: []
      summary: Retrieve Customer
      tags:
      - Customers
      x-accepts: application/json
    post:
      description: |-
        Update Customer

        Updates the customer's details in a customer object.
      operationId: Update a Customer
      parameters:
      - description: The unique identifier for the Customer
        explode: false
        in: path
        name: customer_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: Customer was Updated
        "404":
          description: Customer was not found
      security:
      - api_key: []
      summary: Update Customer
      tags:
      - Customers
      x-content-type: application/json
      x-accepts: application/json
  /customers/{customer_id}/payment_methods:
    get:
      description: |-
        List payment methods for a Customer

        To filter and list the applicable payment methods for a particular Customer ID
      operationId: List all Payment Methods for a Customer
      parameters:
      - description: The two-letter ISO currency code
        explode: true
        in: query
        name: accepted_country
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The three-letter ISO currency code
        explode: false
        in: path
        name: accepted_currency
        required: true
        schema:
          items:
            $ref: '#/components/schemas/Currency'
          type: array
        style: simple
      - description: The minimum amount accepted for processing by the particular
          payment method.
        explode: true
        in: query
        name: minimum_amount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The maximum amount amount accepted for processing by the particular
          payment method.
        explode: true
        in: query
        name: maximum_amount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: Indicates whether the payment method is eligible for recurring
          payments
        explode: true
        in: query
        name: recurring_payment_enabled
        required: true
        schema:
          type: boolean
        style: form
      - description: Indicates whether the payment method is eligible for installment
          payments
        explode: true
        in: query
        name: installment_payment_enabled
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentMethodsListResponse'
          description: Payment Methods retrieved
        "400":
          description: Invalid Data
        "404":
          description: Payment Methods does not exist in records
      security:
      - api_key: []
      summary: List payment methods for a Customer
      tags:
      - Payment Methods
      x-accepts: application/json
  /disputes/list:
    get:
      description: Disputes - List Disputes
      operationId: List Disputes
      parameters:
      - description: The maximum number of Dispute Objects to include in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: The status of dispute
        explode: true
        in: query
        name: dispute_status
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/DisputeStatus'
          nullable: true
        style: form
      - description: The stage of dispute
        explode: true
        in: query
        name: dispute_stage
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/DisputeStage'
          nullable: true
        style: form
      - description: The reason for dispute
        explode: true
        in: query
        name: reason
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: The connector linked to dispute
        explode: true
        in: query
        name: connector
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: The time at which dispute is received
        explode: true
        in: query
        name: received_time
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Time less than the dispute received time
        explode: true
        in: query
        name: received_time.lt
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Time greater than the dispute received time
        explode: true
        in: query
        name: received_time.gt
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Time less than or equals to the dispute received time
        explode: true
        in: query
        name: received_time.lte
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Time greater than or equals to the dispute received time
        explode: true
        in: query
        name: received_time.gte
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DisputeResponse'
                type: array
          description: The dispute list was retrieved successfully
        "401":
          description: Unauthorized request
      security:
      - api_key: []
      summary: Disputes - List Disputes
      tags:
      - Disputes
      x-accepts: application/json
  /disputes/{dispute_id}:
    get:
      description: Disputes - Retrieve Dispute
      operationId: Retrieve a Dispute
      parameters:
      - description: The identifier for dispute
        explode: false
        in: path
        name: dispute_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeResponse'
          description: The dispute was retrieved successfully
        "404":
          description: Dispute does not exist in our records
      security:
      - api_key: []
      summary: Disputes - Retrieve Dispute
      tags:
      - Disputes
      x-accepts: application/json
  /gsm:
    post:
      description: |-
        Gsm - Create

        To create a Gsm Rule
      operationId: Create Gsm Rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GsmCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GsmResponse'
          description: Gsm created
        "400":
          description: Missing Mandatory fields
      security:
      - admin_api_key: []
      summary: Gsm - Create
      tags:
      - Gsm
      x-content-type: application/json
      x-accepts: application/json
  /gsm/delete:
    post:
      description: |-
        Gsm - Delete

        To delete a Gsm Rule
      operationId: Delete Gsm Rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GsmDeleteRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GsmDeleteResponse'
          description: Gsm deleted
        "400":
          description: Missing Mandatory fields
      security:
      - admin_api_key: []
      summary: Gsm - Delete
      tags:
      - Gsm
      x-content-type: application/json
      x-accepts: application/json
  /gsm/get:
    post:
      description: |-
        Gsm - Get

        To get a Gsm Rule
      operationId: Retrieve Gsm Rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GsmRetrieveRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GsmResponse'
          description: Gsm retrieved
        "400":
          description: Missing Mandatory fields
      security:
      - admin_api_key: []
      summary: Gsm - Get
      tags:
      - Gsm
      x-content-type: application/json
      x-accepts: application/json
  /gsm/update:
    post:
      description: |-
        Gsm - Update

        To update a Gsm Rule
      operationId: Update Gsm Rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GsmUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GsmResponse'
          description: Gsm updated
        "400":
          description: Missing Mandatory fields
      security:
      - admin_api_key: []
      summary: Gsm - Update
      tags:
      - Gsm
      x-content-type: application/json
      x-accepts: application/json
  /mandates/revoke/{mandate_id}:
    post:
      description: |-
        Mandates - Revoke Mandate

        Revoke a mandate
      operationId: Revoke a Mandate
      parameters:
      - description: The identifier for mandate
        explode: false
        in: path
        name: mandate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandateRevokedResponse'
          description: The mandate was revoked successfully
        "400":
          description: Mandate does not exist in our records
      security:
      - api_key: []
      summary: Mandates - Revoke Mandate
      tags:
      - Mandates
      x-accepts: application/json
  /mandates/{mandate_id}:
    get:
      description: |-
        Mandates - Retrieve Mandate

        Retrieve a mandate
      operationId: Retrieve a Mandate
      parameters:
      - description: The identifier for mandate
        explode: false
        in: path
        name: mandate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandateResponse'
          description: The mandate was retrieved successfully
        "404":
          description: Mandate does not exist in our records
      security:
      - api_key: []
      summary: Mandates - Retrieve Mandate
      tags:
      - Mandates
      x-accepts: application/json
  /payment_link/{payment_link_id}:
    get:
      description: |-
        Payments Link - Retrieve

        To retrieve the properties of a Payment Link. This may be used to get the status of a previously initiated payment or next action for an ongoing payment
      operationId: Retrieve a Payment Link
      parameters:
      - description: The identifier for payment link
        explode: false
        in: path
        name: payment_link_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrievePaymentLinkRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePaymentLinkResponse'
          description: Gets details regarding payment link
        "404":
          description: No payment link found
      security:
      - api_key: []
      - publishable_key: []
      summary: Payments Link - Retrieve
      tags:
      - Payments
      x-content-type: application/json
      x-accepts: application/json
  /payment_methods:
    post:
      description: |-
        PaymentMethods - Create

        To create a payment method against a customer object. In case of cards, this API could be used only by PCI compliant merchants
      operationId: Create a Payment Method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodResponse'
          description: Payment Method Created
        "400":
          description: Invalid Data
      security:
      - api_key: []
      summary: PaymentMethods - Create
      tags:
      - Payment Methods
      x-content-type: application/json
      x-accepts: application/json
  /payment_methods/{method_id}:
    delete:
      description: |-
        Payment Method - Delete

        Delete payment method
      operationId: Delete a Payment method
      parameters:
      - description: The unique identifier for the Payment Method
        explode: false
        in: path
        name: method_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodDeleteResponse'
          description: Payment Method deleted
        "404":
          description: Payment Method does not exist in records
      security:
      - api_key: []
      summary: Payment Method - Delete
      tags:
      - Payment Methods
      x-accepts: application/json
    get:
      description: |-
        Payment Method - Retrieve

        To retrieve a payment method
      operationId: Retrieve a Payment method
      parameters:
      - description: The unique identifier for the Payment Method
        explode: false
        in: path
        name: method_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodResponse'
          description: Payment Method retrieved
        "404":
          description: Payment Method does not exist in records
      security:
      - api_key: []
      summary: Payment Method - Retrieve
      tags:
      - Payment Methods
      x-accepts: application/json
    post:
      description: |-
        Payment Method - Update

        To update an existing payment method attached to a customer object. This API is useful for use cases such as updating the card number for expired cards to prevent discontinuity in recurring payments
      operationId: Update a Payment method
      parameters:
      - description: The unique identifier for the Payment Method
        explode: false
        in: path
        name: method_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodResponse'
          description: Payment Method updated
        "404":
          description: Payment Method does not exist in records
      security:
      - api_key: []
      summary: Payment Method - Update
      tags:
      - Payment Methods
      x-content-type: application/json
      x-accepts: application/json
  /payments:
    post:
      description: |-
        Payments - Create

        To process a payment you will have to create a payment, attach a payment method and confirm. Depending on the user journey you wish to achieve, you may opt to all the steps in a single request or in a sequence of API request using following APIs: (i) Payments - Update, (ii) Payments - Confirm, and (iii) Payments - Capture
      operationId: Create a Payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse'
          description: Payment created
        "400":
          description: Missing Mandatory fields
      security:
      - api_key: []
      summary: Payments - Create
      tags:
      - Payments
      x-content-type: application/json
      x-accepts: application/json
  /payments/list:
    get:
      description: |-
        Payments - List

        To list the payments
      operationId: List all Payments
      parameters:
      - description: The identifier for the customer
        explode: true
        in: query
        name: customer_id
        required: true
        schema:
          type: string
        style: form
      - description: "A cursor for use in pagination, fetch the next list after some\
          \ object"
        explode: true
        in: query
        name: starting_after
        required: true
        schema:
          type: string
        style: form
      - description: "A cursor for use in pagination, fetch the previous list before\
          \ some object"
        explode: true
        in: query
        name: ending_before
        required: true
        schema:
          type: string
        style: form
      - description: Limit on the number of objects to return
        explode: true
        in: query
        name: limit
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: The time at which payment is created
        explode: true
        in: query
        name: created
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Time less than the payment created time
        explode: true
        in: query
        name: created_lt
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Time greater than the payment created time
        explode: true
        in: query
        name: created_gt
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Time less than or equals to the payment created time
        explode: true
        in: query
        name: created_lte
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Time greater than or equals to the payment created time
        explode: true
        in: query
        name: created_gte
        required: true
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          description: Received payment list
        "404":
          description: No payments found
      security:
      - api_key: []
      summary: Payments - List
      tags:
      - Payments
      x-accepts: application/json
  /payments/session_tokens:
    post:
      description: |-
        Payments - Session token

        To create the session object or to get session token for wallets
      operationId: Create Session tokens for a Payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsSessionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsSessionResponse'
          description: Payment session object created or session token was retrieved
            from wallets
        "400":
          description: Missing mandatory fields
      security:
      - publishable_key: []
      summary: Payments - Session token
      tags:
      - Payments
      x-content-type: application/json
      x-accepts: application/json
  /payments/{payment_id}:
    get:
      description: |-
        Payments - Retrieve

        To retrieve the properties of a Payment. This may be used to get the status of a previously initiated payment or next action for an ongoing payment
      operationId: Retrieve a Payment
      parameters:
      - description: The identifier for payment
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRetrieveBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse'
          description: Gets the payment with final status
        "404":
          description: No payment found
      security:
      - api_key: []
      - publishable_key: []
      summary: Payments - Retrieve
      tags:
      - Payments
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: |-
        Payments - Update

        To update the properties of a PaymentIntent object. This may include attaching a payment method, or attaching customer object or metadata fields after the Payment is created
      operationId: Update a Payment
      parameters:
      - description: The identifier for payment
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse'
          description: Payment updated
        "400":
          description: Missing mandatory fields
      security:
      - api_key: []
      - publishable_key: []
      summary: Payments - Update
      tags:
      - Payments
      x-content-type: application/json
      x-accepts: application/json
  /payments/{payment_id}/cancel:
    post:
      description: |-
        Payments - Cancel

        A Payment could can be cancelled when it is in one of these statuses: requires_payment_method, requires_capture, requires_confirmation, requires_customer_action
      operationId: Cancel a Payment
      parameters:
      - description: The identifier for payment
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsCancelRequest'
        required: true
      responses:
        "200":
          description: Payment canceled
        "400":
          description: Missing mandatory fields
      security:
      - api_key: []
      summary: Payments - Cancel
      tags:
      - Payments
      x-content-type: application/json
      x-accepts: application/json
  /payments/{payment_id}/capture:
    post:
      description: |-
        Payments - Capture

        To capture the funds for an uncaptured payment
      operationId: Capture a Payment
      parameters:
      - description: The identifier for payment
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsCaptureRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse'
          description: Payment captured
        "400":
          description: Missing mandatory fields
      security:
      - api_key: []
      summary: Payments - Capture
      tags:
      - Payments
      x-content-type: application/json
      x-accepts: application/json
  /payments/{payment_id}/confirm:
    post:
      description: |-
        Payments - Confirm

        This API is to confirm the payment request and forward payment to the payment processor. This API provides more granular control upon when the API is forwarded to the payment processor. Alternatively you can confirm the payment within the Payments Create API
      operationId: Confirm a Payment
      parameters:
      - description: The identifier for payment
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsResponse'
          description: Payment confirmed
        "400":
          description: Missing mandatory fields
      security:
      - api_key: []
      - publishable_key: []
      summary: Payments - Confirm
      tags:
      - Payments
      x-content-type: application/json
      x-accepts: application/json
  /payouts/create:
    post:
      description: Payouts - Create
      operationId: Create a Payout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutCreateResponse'
          description: Payout created
        "400":
          description: Missing Mandatory fields
      security:
      - api_key: []
      summary: Payouts - Create
      tags:
      - Payouts
      x-content-type: application/json
      x-accepts: application/json
  /payouts/{payout_id}:
    get:
      description: Payouts - Retrieve
      operationId: Retrieve a Payout
      parameters:
      - description: "The identifier for payout]"
        explode: false
        in: path
        name: payout_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutCreateResponse'
          description: Payout retrieved
        "404":
          description: Payout does not exist in our records
      security:
      - api_key: []
      summary: Payouts - Retrieve
      tags:
      - Payouts
      x-accepts: application/json
    post:
      description: Payouts - Update
      operationId: Update a Payout
      parameters:
      - description: "The identifier for payout]"
        explode: false
        in: path
        name: payout_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutCreateResponse'
          description: Payout updated
        "400":
          description: Missing Mandatory fields
      security:
      - api_key: []
      summary: Payouts - Update
      tags:
      - Payouts
      x-content-type: application/json
      x-accepts: application/json
  /payouts/{payout_id}/cancel:
    post:
      description: Payouts - Cancel
      operationId: Cancel a Payout
      parameters:
      - description: The identifier for payout
        explode: false
        in: path
        name: payout_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutActionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutCreateResponse'
          description: Payout cancelled
        "400":
          description: Missing Mandatory fields
      security:
      - api_key: []
      summary: Payouts - Cancel
      tags:
      - Payouts
      x-content-type: application/json
      x-accepts: application/json
  /payouts/{payout_id}/fulfill:
    post:
      description: Payouts - Fulfill
      operationId: Fulfill a Payout
      parameters:
      - description: The identifier for payout
        explode: false
        in: path
        name: payout_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutActionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutCreateResponse'
          description: Payout fulfilled
        "400":
          description: Missing Mandatory fields
      security:
      - api_key: []
      summary: Payouts - Fulfill
      tags:
      - Payouts
      x-content-type: application/json
      x-accepts: application/json
  /refunds:
    post:
      description: |-
        Refunds - Create

        To create a refund against an already processed payment
      operationId: Create a Refund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
          description: Refund created
        "400":
          description: Missing Mandatory fields
      security:
      - api_key: []
      summary: Refunds - Create
      tags:
      - Refunds
      x-content-type: application/json
      x-accepts: application/json
  /refunds/list:
    post:
      description: |-
        Refunds - List

        To list the refunds associated with a payment_id or with the merchant, if payment_id is not provided
      operationId: List all Refunds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundListResponse'
          description: List of refunds
      security:
      - api_key: []
      summary: Refunds - List
      tags:
      - Refunds
      x-content-type: application/json
      x-accepts: application/json
  /refunds/{refund_id}:
    get:
      description: |-
        Refunds - Retrieve (GET)

        To retrieve the properties of a Refund. This may be used to get the status of a previously initiated payment or next action for an ongoing payment
      operationId: Retrieve a Refund
      parameters:
      - description: The identifier for refund
        explode: false
        in: path
        name: refund_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
          description: Refund retrieved
        "404":
          description: Refund does not exist in our records
      security:
      - api_key: []
      summary: Refunds - Retrieve (GET)
      tags:
      - Refunds
      x-accepts: application/json
    post:
      description: |-
        Refunds - Update

        To update the properties of a Refund object. This may include attaching a reason for the refund or metadata fields
      operationId: Update a Refund
      parameters:
      - description: The identifier for refund
        explode: false
        in: path
        name: refund_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
          description: Refund updated
        "400":
          description: Missing Mandatory fields
      security:
      - api_key: []
      summary: Refunds - Update
      tags:
      - Refunds
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    AcceptanceType:
      enum:
      - online
      - offline
      type: string
    AcceptedCountries:
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/AcceptedCountries_oneOf'
      - $ref: '#/components/schemas/AcceptedCountries_oneOf_1'
      - $ref: '#/components/schemas/AcceptedCountries_oneOf_2'
    AcceptedCurrencies:
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/AcceptedCurrencies_oneOf'
      - $ref: '#/components/schemas/AcceptedCurrencies_oneOf_1'
      - $ref: '#/components/schemas/AcceptedCountries_oneOf_2'
    AchBankTransfer:
      properties:
        bank_name:
          description: Bank name
          example: Deutsche Bank
          nullable: true
          type: string
        bank_country_code:
          allOf:
          - $ref: '#/components/schemas/CountryAlpha2'
          nullable: true
        bank_city:
          description: Bank city
          example: California
          nullable: true
          type: string
        bank_account_number:
          description: Bank account number is an unique identifier assigned by a bank
            to a customer.
          example: "000123456"
          type: string
        bank_routing_number:
          description: "[9 digits] Routing number - used in USA for identifying a\
            \ specific bank."
          example: "110000000"
          type: string
      required:
      - bank_account_number
      - bank_routing_number
      type: object
    AchBillingDetails:
      properties:
        email:
          description: The Email ID for ACH billing
          example: example@me.com
          type: string
      required:
      - email
      type: object
    AchTransfer:
      properties:
        account_number:
          example: "122385736258"
          type: string
        bank_name:
          type: string
        routing_number:
          example: "012"
          type: string
        swift_code:
          example: "234"
          type: string
      required:
      - account_number
      - bank_name
      - routing_number
      - swift_code
      type: object
    Address:
      properties:
        address:
          allOf:
          - $ref: '#/components/schemas/AddressDetails'
          nullable: true
        phone:
          allOf:
          - $ref: '#/components/schemas/PhoneDetails'
          nullable: true
      type: object
    AddressDetails:
      properties:
        city:
          description: The address city
          example: New York
          maxLength: 50
          nullable: true
          type: string
        country:
          allOf:
          - $ref: '#/components/schemas/CountryAlpha2'
          nullable: true
        line1:
          description: The first line of the address
          example: "123, King Street"
          maxLength: 200
          nullable: true
          type: string
        line2:
          description: The second line of the address
          example: Powelson Avenue
          maxLength: 50
          nullable: true
          type: string
        line3:
          description: The third line of the address
          example: Bridgewater
          maxLength: 50
          nullable: true
          type: string
        zip:
          description: The zip/postal code for the address
          example: "08807"
          maxLength: 50
          nullable: true
          type: string
        state:
          description: The address state
          example: New York
          nullable: true
          type: string
        first_name:
          description: The first name for the address
          example: John
          maxLength: 255
          nullable: true
          type: string
        last_name:
          description: The last name for the address
          example: Doe
          maxLength: 255
          nullable: true
          type: string
      type: object
    AirwallexData:
      properties:
        payload:
          description: payload required by airwallex
          nullable: true
          type: string
      type: object
    AlfamartVoucherData:
      properties:
        first_name:
          description: The billing first name for Alfamart
          example: Jane
          type: string
        last_name:
          description: The billing second name for Alfamart
          example: Doe
          type: string
        email:
          description: The Email ID for Alfamart
          example: example@me.com
          type: string
      required:
      - email
      - first_name
      - last_name
      type: object
    AliPayHkRedirection:
      type: object
    AliPayQr:
      type: object
    AliPayRedirection:
      type: object
    AmountInfo:
      properties:
        label:
          description: The label must be the name of the merchant.
          type: string
        type:
          description: "A value that indicates whether the line item(Ex: total, tax,\
            \ discount, or grand total) is final or pending."
          nullable: true
          type: string
        amount:
          description: The total amount for the payment
          type: string
      required:
      - amount
      - label
      type: object
    ApiKeyExpiration:
      oneOf:
      - enum:
        - never
        type: string
      - format: date-time
        type: string
    ApplePayPaymentRequest:
      properties:
        country_code:
          $ref: '#/components/schemas/CountryAlpha2'
        currency_code:
          $ref: '#/components/schemas/Currency'
        total:
          $ref: '#/components/schemas/AmountInfo'
        merchant_capabilities:
          description: "The list of merchant capabilities(ex: whether capable of 3ds\
            \ or no-3ds)"
          items:
            type: string
          nullable: true
          type: array
        supported_networks:
          description: The list of supported networks
          items:
            type: string
          nullable: true
          type: array
        merchant_identifier:
          nullable: true
          type: string
      required:
      - country_code
      - currency_code
      - total
      type: object
    ApplePayRedirectData:
      type: object
    ApplePaySessionResponse:
      oneOf:
      - $ref: '#/components/schemas/ThirdPartySdkSessionResponse'
      - $ref: '#/components/schemas/NoThirdPartySdkSessionResponse'
      - nullable: true
        type: object
    ApplePayThirdPartySdkData:
      type: object
    ApplePayWalletData:
      properties:
        payment_data:
          description: The payment data of Apple pay
          type: string
        payment_method:
          $ref: '#/components/schemas/ApplepayPaymentMethod'
        transaction_identifier:
          description: The unique identifier for the transaction
          type: string
      required:
      - payment_data
      - payment_method
      - transaction_identifier
      type: object
    ApplepayConnectorMetadataRequest:
      properties:
        session_token_data:
          allOf:
          - $ref: '#/components/schemas/SessionTokenInfo'
          nullable: true
      type: object
    ApplepayPaymentMethod:
      properties:
        display_name:
          description: The name to be displayed on Apple Pay button
          type: string
        network:
          description: The network of the Apple pay payment method
          type: string
        type:
          description: The type of the payment method
          type: string
      required:
      - display_name
      - network
      - type
      type: object
    ApplepaySessionTokenResponse:
      properties:
        session_token_data:
          $ref: '#/components/schemas/ApplePaySessionResponse'
        payment_request_data:
          allOf:
          - $ref: '#/components/schemas/ApplePayPaymentRequest'
          nullable: true
        connector:
          description: The session token is w.r.t this connector
          type: string
        delayed_session_token:
          description: Identifier for the delayed session response
          type: boolean
        sdk_next_action:
          $ref: '#/components/schemas/SdkNextAction'
        connector_reference_id:
          description: The connector transaction id
          nullable: true
          type: string
        connector_sdk_public_key:
          description: The public key id is to invoke third party sdk
          nullable: true
          type: string
        connector_merchant_id:
          description: The connector merchant id
          nullable: true
          type: string
      required:
      - connector
      - delayed_session_token
      - sdk_next_action
      - session_token_data
      type: object
    AttemptStatus:
      enum:
      - started
      - authentication_failed
      - router_declined
      - authentication_pending
      - authentication_successful
      - authorized
      - authorization_failed
      - charged
      - authorizing
      - cod_initiated
      - voided
      - void_initiated
      - capture_initiated
      - capture_failed
      - void_failed
      - auto_refunded
      - partial_charged
      - partial_charged_and_chargeable
      - unresolved
      - pending
      - failure
      - payment_method_awaited
      - confirmation_awaited
      - device_data_collection_pending
      type: string
    AuthenticationType:
      enum:
      - three_ds
      - no_three_ds
      type: string
    AuthorizationStatus:
      enum:
      - success
      - failure
      - processing
      - unresolved
      type: string
    BacsBankTransfer:
      properties:
        bank_name:
          description: Bank name
          example: Deutsche Bank
          nullable: true
          type: string
        bank_country_code:
          allOf:
          - $ref: '#/components/schemas/CountryAlpha2'
          nullable: true
        bank_city:
          description: Bank city
          example: California
          nullable: true
          type: string
        bank_account_number:
          description: Bank account number is an unique identifier assigned by a bank
            to a customer.
          example: "000123456"
          type: string
        bank_sort_code:
          description: "[6 digits] Sort Code - used in UK and Ireland for identifying\
            \ a bank and it's branches."
          example: 98-76-54
          type: string
      required:
      - bank_account_number
      - bank_sort_code
      type: object
    BacsBankTransferInstructions:
      properties:
        account_holder_name:
          example: Jane Doe
          type: string
        account_number:
          example: "10244123908"
          type: string
        sort_code:
          example: "012"
          type: string
      required:
      - account_holder_name
      - account_number
      - sort_code
      type: object
    Bank:
      oneOf:
      - $ref: '#/components/schemas/AchBankTransfer'
      - $ref: '#/components/schemas/BacsBankTransfer'
      - $ref: '#/components/schemas/SepaBankTransfer'
    BankDebitBilling:
      properties:
        name:
          description: The billing name for bank debits
          example: John Doe
          type: string
        email:
          description: The billing email for bank debits
          example: example@example.com
          type: string
        address:
          allOf:
          - $ref: '#/components/schemas/AddressDetails'
          nullable: true
      required:
      - email
      - name
      type: object
    BankDebitData:
      oneOf:
      - $ref: '#/components/schemas/BankDebitData_oneOf'
      - $ref: '#/components/schemas/BankDebitData_oneOf_1'
      - $ref: '#/components/schemas/BankDebitData_oneOf_2'
      - $ref: '#/components/schemas/BankDebitData_oneOf_3'
    BankNames:
      description: Name of banks supported by Hyperswitch
      enum:
      - american_express
      - affin_bank
      - agro_bank
      - alliance_bank
      - am_bank
      - bank_of_america
      - bank_islam
      - bank_muamalat
      - bank_rakyat
      - bank_simpanan_nasional
      - barclays
      - blik_p_s_p
      - capital_one
      - chase
      - citi
      - cimb_bank
      - discover
      - navy_federal_credit_union
      - pentagon_federal_credit_union
      - synchrony_bank
      - wells_fargo
      - abn_amro
      - asn_bank
      - bunq
      - handelsbanken
      - hong_leong_bank
      - hsbc_bank
      - ing
      - knab
      - kuwait_finance_house
      - moneyou
      - rabobank
      - regiobank
      - revolut
      - sns_bank
      - triodos_bank
      - van_lanschot
      - arzte_und_apotheker_bank
      - austrian_anadi_bank_ag
      - bank_austria
      - bank99_ag
      - bankhaus_carl_spangler
      - bankhaus_schelhammer_und_schattera_ag
      - bank_millennium
      - bank_p_e_k_a_o_s_a
      - bawag_psk_ag
      - bks_bank_ag
      - brull_kallmus_bank_ag
      - btv_vier_lander_bank
      - capital_bank_grawe_gruppe_ag
      - ceska_sporitelna
      - dolomitenbank
      - easybank_ag
      - e_platby_v_u_b
      - erste_bank_und_sparkassen
      - friesland_bank
      - hypo_alpeadriabank_international_ag
      - hypo_noe_lb_fur_niederosterreich_u_wien
      - hypo_oberosterreich_salzburg_steiermark
      - hypo_tirol_bank_ag
      - hypo_vorarlberg_bank_ag
      - hypo_bank_burgenland_aktiengesellschaft
      - komercni_banka
      - m_bank
      - marchfelder_bank
      - maybank
      - oberbank_ag
      - osterreichische_arzte_und_apothekerbank
      - ocbc_bank
      - pay_with_i_n_g
      - place_z_i_p_k_o
      - platnosc_online_karta_platnicza
      - posojilnica_bank_e_gen
      - postova_banka
      - public_bank
      - raiffeisen_bankengruppe_osterreich
      - rhb_bank
      - schelhammer_capital_bank_ag
      - standard_chartered_bank
      - schoellerbank_ag
      - sparda_bank_wien
      - sporo_pay
      - santander_przelew24
      - tatra_pay
      - viamo
      - volksbank_gruppe
      - volkskreditbank_ag
      - vr_bank_braunau
      - uob_bank
      - pay_with_alior_bank
      - banki_spoldzielcze
      - pay_with_inteligo
      - b_n_p_paribas_poland
      - bank_nowy_s_a
      - credit_agricole
      - pay_with_b_o_s
      - pay_with_citi_handlowy
      - pay_with_plus_bank
      - toyota_bank
      - velo_bank
      - e_transfer_pocztowy24
      - plus_bank
      - etransfer_pocztowy24
      - banki_spbdzielcze
      - bank_nowy_bfg_sa
      - getin_bank
      - blik
      - noble_pay
      - idea_bank
      - envelo_bank
      - nest_przelew
      - mbank_mtransfer
      - inteligo
      - pbac_z_ipko
      - bnp_paribas
      - bank_pekao_sa
      - volkswagen_bank
      - alior_bank
      - boz
      - bangkok_bank
      - krungsri_bank
      - krung_thai_bank
      - the_siam_commercial_bank
      - kasikorn_bank
      - open_bank_success
      - open_bank_failure
      - open_bank_cancelled
      - aib
      - bank_of_scotland
      - danske_bank
      - first_direct
      - first_trust
      - halifax
      - lloyds
      - monzo
      - nat_west
      - nationwide_bank
      - royal_bank_of_scotland
      - starling
      - tsb_bank
      - tesco_bank
      - ulster_bank
      type: string
    BankRedirectBilling:
      properties:
        billing_name:
          description: The name for which billing is issued
          example: John Doe
          type: string
        email:
          description: The billing email for bank redirect
          example: example@example.com
          type: string
      required:
      - billing_name
      - email
      type: object
    BankRedirectData:
      oneOf:
      - $ref: '#/components/schemas/BankRedirectData_oneOf'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_1'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_2'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_3'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_4'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_5'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_6'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_7'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_8'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_9'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_10'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_11'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_12'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_13'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_14'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_15'
      - $ref: '#/components/schemas/BankRedirectData_oneOf_16'
    BankTransferData:
      oneOf:
      - $ref: '#/components/schemas/BankTransferData_oneOf'
      - $ref: '#/components/schemas/BankTransferData_oneOf_1'
      - $ref: '#/components/schemas/BankTransferData_oneOf_2'
      - $ref: '#/components/schemas/BankTransferData_oneOf_3'
      - $ref: '#/components/schemas/BankTransferData_oneOf_4'
      - $ref: '#/components/schemas/BankTransferData_oneOf_5'
      - $ref: '#/components/schemas/BankTransferData_oneOf_6'
      - $ref: '#/components/schemas/BankTransferData_oneOf_7'
      - $ref: '#/components/schemas/BankTransferData_oneOf_8'
      - $ref: '#/components/schemas/BankTransferData_oneOf_9'
      - $ref: '#/components/schemas/BankTransferData_oneOf_10'
      - $ref: '#/components/schemas/BankTransferData_oneOf_11'
      - $ref: '#/components/schemas/BankTransferData_oneOf_12'
    BankTransferInstructions:
      oneOf:
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf'
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf_1'
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf_2'
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf_3'
      - $ref: '#/components/schemas/BankTransferInstructions_oneOf_4'
    BankTransferNextStepsData:
      allOf:
      - $ref: '#/components/schemas/BankTransferInstructions'
      - properties:
          receiver:
            allOf:
            - $ref: '#/components/schemas/ReceiverDetails'
            nullable: true
        type: object
    BlocklistDataKind:
      enum:
      - payment_method
      - card_bin
      - extended_card_bin
      type: string
    BlocklistRequest:
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/BlocklistRequest_oneOf'
      - $ref: '#/components/schemas/BlocklistRequest_oneOf_1'
      - $ref: '#/components/schemas/BlocklistRequest_oneOf_2'
    BlocklistResponse:
      example:
        fingerprint_id: fingerprint_id
        created_at: 2000-01-23T04:56:07.000+00:00
        data_kind: null
      properties:
        fingerprint_id:
          type: string
        data_kind:
          $ref: '#/components/schemas/BlocklistDataKind'
        created_at:
          format: date-time
          type: string
      required:
      - created_at
      - data_kind
      - fingerprint_id
      type: object
    BoletoVoucherData:
      properties:
        social_security_number:
          description: The shopper's social security number
          nullable: true
          type: string
      type: object
    BusinessPaymentLinkConfig:
      allOf:
      - $ref: '#/components/schemas/PaymentLinkConfigRequest'
      - properties:
          domain_name:
            nullable: true
            type: string
        type: object
    CaptureMethod:
      enum:
      - automatic
      - manual
      - manual_multiple
      - scheduled
      type: string
    CaptureResponse:
      example:
        capture_sequence: 5
        error_message: error_message
        amount: 1
        error_reason: error_reason
        connector: connector
        reference_id: reference_id
        authorized_attempt_id: authorized_attempt_id
        currency: ""
        error_code: error_code
        capture_id: capture_id
        connector_capture_id: connector_capture_id
        status: null
      properties:
        capture_id:
          description: unique identifier for the capture
          type: string
        status:
          $ref: '#/components/schemas/CaptureStatus'
        amount:
          description: "The capture amount. Amount for the payment in lowest denomination\
            \ of the currency. (i.e) in cents for USD denomination, in paisa for INR\
            \ denomination etc.,"
          format: int64
          type: integer
        currency:
          allOf:
          - $ref: '#/components/schemas/Currency'
          nullable: true
        connector:
          description: The connector used for the payment
          type: string
        authorized_attempt_id:
          description: unique identifier for the parent attempt on which this capture
            is made
          type: string
        connector_capture_id:
          description: A unique identifier for a capture provided by the connector
          nullable: true
          type: string
        capture_sequence:
          description: sequence number of this capture
          format: int32
          type: integer
        error_message:
          description: If there was an error while calling the connector the error
            message is received here
          nullable: true
          type: string
        error_code:
          description: If there was an error while calling the connectors the code
            is received here
          nullable: true
          type: string
        error_reason:
          description: If there was an error while calling the connectors the reason
            is received here
          nullable: true
          type: string
        reference_id:
          description: reference to the capture at connector side
          nullable: true
          type: string
      required:
      - amount
      - authorized_attempt_id
      - capture_id
      - capture_sequence
      - connector
      - status
      type: object
    CaptureStatus:
      enum:
      - started
      - charged
      - pending
      - failed
      type: string
    Card:
      properties:
        card_number:
          description: The card number
          example: "4242424242424242"
          type: string
        expiry_month:
          description: The card's expiry month
          type: string
        expiry_year:
          description: The card's expiry year
          type: string
        card_holder_name:
          description: The card holder's name
          example: John Doe
          type: string
      required:
      - card_holder_name
      - card_number
      - expiry_month
      - expiry_year
      type: object
    CardDetail:
      properties:
        card_number:
          description: Card Number
          example: "4111111145551142"
          type: string
        card_exp_month:
          description: Card Expiry Month
          example: "10"
          type: string
        card_exp_year:
          description: Card Expiry Year
          example: "25"
          type: string
        card_holder_name:
          description: Card Holder Name
          example: John Doe
          type: string
        nick_name:
          description: Card Holder's Nick Name
          example: John Doe
          nullable: true
          type: string
        card_issuing_country:
          description: Card Issuing Country
          nullable: true
          type: string
        card_network:
          allOf:
          - $ref: '#/components/schemas/CardNetwork'
          nullable: true
        card_issuer:
          description: Issuer Bank for Card
          nullable: true
          type: string
        card_type:
          description: Card Type
          nullable: true
          type: string
      required:
      - card_exp_month
      - card_exp_year
      - card_holder_name
      - card_number
      type: object
    CardDetailFromLocker:
      properties:
        scheme:
          nullable: true
          type: string
        issuer_country:
          nullable: true
          type: string
        last4_digits:
          nullable: true
          type: string
        expiry_month:
          nullable: true
          type: string
        expiry_year:
          nullable: true
          type: string
        card_token:
          nullable: true
          type: string
        card_holder_name:
          nullable: true
          type: string
        card_fingerprint:
          nullable: true
          type: string
        nick_name:
          nullable: true
          type: string
        card_network:
          allOf:
          - $ref: '#/components/schemas/CardNetwork'
          nullable: true
        card_isin:
          nullable: true
          type: string
        card_issuer:
          nullable: true
          type: string
        card_type:
          nullable: true
          type: string
        saved_to_locker:
          type: boolean
      required:
      - saved_to_locker
      type: object
    CardNetwork:
      enum:
      - Visa
      - Mastercard
      - AmericanExpress
      - JCB
      - DinersClub
      - Discover
      - CartesBancaires
      - UnionPay
      - Interac
      - RuPay
      - Maestro
      type: string
    CardRedirectData:
      oneOf:
      - $ref: '#/components/schemas/CardRedirectData_oneOf'
      - $ref: '#/components/schemas/CardRedirectData_oneOf_1'
      - $ref: '#/components/schemas/CardRedirectData_oneOf_2'
      - $ref: '#/components/schemas/CardRedirectData_oneOf_3'
    CardToken:
      properties:
        card_holder_name:
          description: The card holder's name
          example: John Test
          type: string
        card_cvc:
          description: The CVC number for the card
          nullable: true
          type: string
      required:
      - card_holder_name
      type: object
    CashappQr:
      type: object
    Connector:
      enum:
      - phonypay
      - fauxpay
      - pretendpay
      - stripe_test
      - adyen_test
      - checkout_test
      - paypal_test
      - aci
      - adyen
      - airwallex
      - authorizedotnet
      - bambora
      - bankofamerica
      - bitpay
      - bluesnap
      - boku
      - braintree
      - cashtocode
      - checkout
      - coinbase
      - cryptopay
      - cybersource
      - dlocal
      - fiserv
      - forte
      - globalpay
      - globepay
      - gocardless
      - helcim
      - iatapay
      - klarna
      - mollie
      - multisafepay
      - nexinets
      - nmi
      - noon
      - nuvei
      - opennode
      - payme
      - paypal
      - payu
      - placetopay
      - powertranz
      - prophetpay
      - rapyd
      - shift4
      - square
      - stax
      - stripe
      - trustpay
      - tsys
      - volt
      - wise
      - worldline
      - worldpay
      - zen
      - signifyd
      - plaid
      - riskified
      type: string
    ConnectorMetadata:
      properties:
        apple_pay:
          allOf:
          - $ref: '#/components/schemas/ApplepayConnectorMetadataRequest'
          nullable: true
        airwallex:
          allOf:
          - $ref: '#/components/schemas/AirwallexData'
          nullable: true
        noon:
          allOf:
          - $ref: '#/components/schemas/NoonData'
          nullable: true
      type: object
    ConnectorStatus:
      enum:
      - inactive
      - active
      type: string
    ConnectorType:
      enum:
      - payment_processor
      - payment_vas
      - fin_operations
      - fiz_operations
      - networks
      - banking_entities
      - non_banking_finance
      - payout_processor
      - payment_method_auth
      type: string
    CountryAlpha2:
      enum:
      - AF
      - AX
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BQ
      - BA
      - BW
      - BV
      - BR
      - IO
      - BN
      - BG
      - BF
      - BI
      - KH
      - CM
      - CA
      - CV
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CG
      - CD
      - CK
      - CR
      - CI
      - HR
      - CU
      - CW
      - CY
      - CZ
      - DK
      - DJ
      - DM
      - DO
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - GF
      - PF
      - TF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KP
      - KR
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MK
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - MP
      - "NO"
      - OM
      - PK
      - PW
      - PS
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - LC
      - MF
      - PM
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - GS
      - SS
      - ES
      - LK
      - SD
      - SR
      - SJ
      - SZ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TL
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - AE
      - GB
      - UM
      - UY
      - UZ
      - VU
      - VE
      - VN
      - VG
      - VI
      - WF
      - EH
      - YE
      - ZM
      - ZW
      - US
      type: string
    CreateApiKeyRequest:
      description: The request body for creating an API Key.
      properties:
        name:
          description: A unique name for the API Key to help you identify it.
          example: Sandbox integration key
          maxLength: 64
          type: string
        description:
          description: A description to provide more context about the API Key.
          example: Key used by our developers to integrate with the sandbox environment
          maxLength: 256
          nullable: true
          type: string
        expiration:
          $ref: '#/components/schemas/ApiKeyExpiration'
      required:
      - expiration
      - name
      type: object
    CreateApiKeyResponse:
      description: The response body for creating an API Key.
      properties:
        key_id:
          description: The identifier for the API Key.
          example: 5hEEqkgJUyuxgSKGArHA4mWSnX
          maxLength: 64
          type: string
        merchant_id:
          description: The identifier for the Merchant Account.
          example: y3oqhf46pyzuxjbcn2giaqnb44
          maxLength: 64
          type: string
        name:
          description: The unique name for the API Key to help you identify it.
          example: Sandbox integration key
          maxLength: 64
          type: string
        description:
          description: The description to provide more context about the API Key.
          example: Key used by our developers to integrate with the sandbox environment
          maxLength: 256
          nullable: true
          type: string
        api_key:
          description: |-
            The plaintext API Key used for server-side API access. Ensure you store the API Key
            securely as you will not be able to see it again.
          maxLength: 128
          type: string
        created:
          description: The time at which the API Key was created.
          example: 2022-09-10T10:11:12Z
          format: date-time
          type: string
        expiration:
          $ref: '#/components/schemas/ApiKeyExpiration'
      required:
      - api_key
      - created
      - expiration
      - key_id
      - merchant_id
      - name
      type: object
    CryptoData:
      properties:
        pay_currency:
          nullable: true
          type: string
      type: object
    Currency:
      enum:
      - AED
      - ALL
      - AMD
      - ANG
      - ARS
      - AUD
      - AWG
      - AZN
      - BBD
      - BDT
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BWP
      - BZD
      - CAD
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUP
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ETB
      - EUR
      - FJD
      - GBP
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RUB
      - RWF
      - SAR
      - SCR
      - SEK
      - SGD
      - SLL
      - SOS
      - SSP
      - SVC
      - SZL
      - THB
      - TRY
      - TTD
      - TWD
      - TZS
      - UGX
      - USD
      - UYU
      - UZS
      - VND
      - VUV
      - XAF
      - XOF
      - XPF
      - YER
      - ZAR
      type: string
    CustomerAcceptance:
      properties:
        acceptance_type:
          $ref: '#/components/schemas/AcceptanceType'
        accepted_at:
          description: Specifying when the customer acceptance was provided
          example: 2022-09-10T10:11:12Z
          format: date-time
          nullable: true
          type: string
        online:
          allOf:
          - $ref: '#/components/schemas/OnlineMandate'
          nullable: true
      required:
      - acceptance_type
      type: object
    CustomerDeleteResponse:
      example:
        customer_id: cus_y3oqhf46pyzuxjbcn2giaqnb44
        customer_deleted: false
        address_deleted: false
        payment_methods_deleted: false
      properties:
        customer_id:
          description: The identifier for the customer object
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
          maxLength: 255
          type: string
        customer_deleted:
          description: Whether customer was deleted or not
          example: false
          type: boolean
        address_deleted:
          description: Whether address was deleted or not
          example: false
          type: boolean
        payment_methods_deleted:
          description: Whether payment methods deleted or not
          example: false
          type: boolean
      required:
      - address_deleted
      - customer_deleted
      - customer_id
      - payment_methods_deleted
      type: object
    CustomerDetails:
      properties:
        id:
          description: The identifier for the customer.
          type: string
        name:
          description: The customer's name
          example: John Doe
          maxLength: 255
          nullable: true
          type: string
        email:
          description: The customer's email address
          example: johntest@test.com
          maxLength: 255
          nullable: true
          type: string
        phone:
          description: The customer's phone number
          example: "3141592653"
          maxLength: 10
          nullable: true
          type: string
        phone_country_code:
          description: The country code for the customer's phone number
          example: "+1"
          maxLength: 2
          nullable: true
          type: string
      required:
      - id
      type: object
    CustomerPaymentMethod:
      example:
        payment_method_type: ""
        metadata: "{}"
        bank_transfer: ""
        created: 2023-01-18T11:04:09.922Z
        payment_token: 7ebf443f-a050-4067-84e5-e6f6d4800aef
        payment_method_issuer_code: ""
        surcharge_details: ""
        payment_method_issuer: Citibank
        bank: ""
        installment_payment_enabled: true
        requires_cvv: true
        customer_id: cus_meowerunwiuwiwqw
        payment_experience:
        - redirect_to_url
        payment_method: null
        card: ""
        recurring_enabled: true
      properties:
        payment_token:
          description: Token for payment method in temporary card locker which gets
            refreshed often
          example: 7ebf443f-a050-4067-84e5-e6f6d4800aef
          type: string
        customer_id:
          description: The unique identifier of the customer.
          example: cus_meowerunwiuwiwqw
          type: string
        payment_method:
          $ref: '#/components/schemas/PaymentMethodType'
        payment_method_type:
          allOf:
          - $ref: '#/components/schemas/PaymentMethodType'
          nullable: true
        payment_method_issuer:
          description: The name of the bank/ provider issuing the payment method to
            the end user
          example: Citibank
          nullable: true
          type: string
        payment_method_issuer_code:
          allOf:
          - $ref: '#/components/schemas/PaymentMethodIssuerCode'
          nullable: true
        recurring_enabled:
          description: Indicates whether the payment method is eligible for recurring
            payments
          example: true
          type: boolean
        installment_payment_enabled:
          description: Indicates whether the payment method is eligible for installment
            payments
          example: true
          type: boolean
        payment_experience:
          description: Type of payment experience enabled with the connector
          example:
          - redirect_to_url
          items:
            $ref: '#/components/schemas/PaymentExperience'
          nullable: true
          type: array
        card:
          allOf:
          - $ref: '#/components/schemas/CardDetailFromLocker'
          nullable: true
        metadata:
          description: "You can specify up to 50 keys, with key names up to 40 characters\
            \ long and values up to 500 characters long. Metadata is useful for storing\
            \ additional, structured information on an object."
          nullable: true
          type: object
        created:
          description: A timestamp (ISO 8601 code) that determines when the customer
            was created
          example: 2023-01-18T11:04:09.922Z
          format: date-time
          nullable: true
          type: string
        bank_transfer:
          allOf:
          - $ref: '#/components/schemas/Bank'
          nullable: true
        bank:
          allOf:
          - $ref: '#/components/schemas/MaskedBankDetails'
          nullable: true
        surcharge_details:
          allOf:
          - $ref: '#/components/schemas/SurchargeDetailsResponse'
          nullable: true
        requires_cvv:
          description: Whether this payment method requires CVV to be collected
          example: true
          type: boolean
      required:
      - customer_id
      - installment_payment_enabled
      - payment_method
      - payment_token
      - recurring_enabled
      - requires_cvv
      type: object
    CustomerPaymentMethodsListResponse:
      example:
        customer_payment_methods:
        - payment_method_type: ""
          metadata: "{}"
          bank_transfer: ""
          created: 2023-01-18T11:04:09.922Z
          payment_token: 7ebf443f-a050-4067-84e5-e6f6d4800aef
          payment_method_issuer_code: ""
          surcharge_details: ""
          payment_method_issuer: Citibank
          bank: ""
          installment_payment_enabled: true
          requires_cvv: true
          customer_id: cus_meowerunwiuwiwqw
          payment_experience:
          - redirect_to_url
          payment_method: null
          card: ""
          recurring_enabled: true
        - payment_method_type: ""
          metadata: "{}"
          bank_transfer: ""
          created: 2023-01-18T11:04:09.922Z
          payment_token: 7ebf443f-a050-4067-84e5-e6f6d4800aef
          payment_method_issuer_code: ""
          surcharge_details: ""
          payment_method_issuer: Citibank
          bank: ""
          installment_payment_enabled: true
          requires_cvv: true
          customer_id: cus_meowerunwiuwiwqw
          payment_experience:
          - redirect_to_url
          payment_method: null
          card: ""
          recurring_enabled: true
      properties:
        customer_payment_methods:
          description: List of payment methods for customer
          items:
            $ref: '#/components/schemas/CustomerPaymentMethod'
          type: array
      required:
      - customer_payment_methods
      type: object
    CustomerRequest:
      description: The customer details
      example:
        metadata: "{}"
        address: ""
        phone_country_code: "+65"
        phone: "9999999999"
        name: Jon Test
        description: First Customer
        customer_id: cus_y3oqhf46pyzuxjbcn2giaqnb44
        email: JonTest@test.com
      properties:
        customer_id:
          description: The identifier for the customer object. If not provided the
            customer ID will be autogenerated.
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
          maxLength: 255
          type: string
        name:
          description: The customer's name
          example: Jon Test
          maxLength: 255
          nullable: true
          type: string
        email:
          description: The customer's email address
          example: JonTest@test.com
          maxLength: 255
          nullable: true
          type: string
        phone:
          description: The customer's phone number
          example: "9999999999"
          maxLength: 255
          nullable: true
          type: string
        description:
          description: An arbitrary string that you can attach to a customer object.
          example: First Customer
          maxLength: 255
          nullable: true
          type: string
        phone_country_code:
          description: The country code for the customer phone number
          example: "+65"
          maxLength: 255
          nullable: true
          type: string
        address:
          allOf:
          - $ref: '#/components/schemas/AddressDetails'
          nullable: true
        metadata:
          description: |-
            You can specify up to 50 keys, with key names up to 40 characters long and values up to 500
            characters long. Metadata is useful for storing additional, structured information on an
            object.
          nullable: true
          type: object
      type: object
    CustomerResponse:
      example:
        metadata: "{}"
        address: ""
        phone_country_code: "+65"
        phone: "9999999999"
        name: Jon Test
        description: First Customer
        created_at: 2023-01-18T11:04:09.922Z
        customer_id: cus_y3oqhf46pyzuxjbcn2giaqnb44
        email: JonTest@test.com
      properties:
        customer_id:
          description: The identifier for the customer object. If not provided the
            customer ID will be autogenerated.
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
          maxLength: 255
          type: string
        name:
          description: The customer's name
          example: Jon Test
          maxLength: 255
          nullable: true
          type: string
        email:
          description: The customer's email address
          example: JonTest@test.com
          maxLength: 255
          nullable: true
          type: string
        phone:
          description: The customer's phone number
          example: "9999999999"
          maxLength: 255
          nullable: true
          type: string
        phone_country_code:
          description: The country code for the customer phone number
          example: "+65"
          maxLength: 255
          nullable: true
          type: string
        description:
          description: An arbitrary string that you can attach to a customer object.
          example: First Customer
          maxLength: 255
          nullable: true
          type: string
        address:
          allOf:
          - $ref: '#/components/schemas/AddressDetails'
          nullable: true
        created_at:
          description: A timestamp (ISO 8601 code) that determines when the customer
            was created
          example: 2023-01-18T11:04:09.922Z
          format: date-time
          type: string
        metadata:
          description: |-
            You can specify up to 50 keys, with key names up to 40 characters long and values up to 500
            characters long. Metadata is useful for storing additional, structured information on an
            object.
          nullable: true
          type: object
      required:
[...]
